<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <PageTitle>Page Not Found</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <div class="container">
                <h2>404 Page Not Found</h2>
                <p role="alert">Sorry, there's nothing at this address.</p>
            </div>
        </LayoutView>
    </NotFound>
</Router>
